[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/liuhuan139 (liuhuan139)
[access "refs/for/refs/*"]
	read = group user/liuhuan139 (liuhuan139)
	push = group user/liuhuan139 (liuhuan139)
	label-Code-Review = -2..+2 group user/liuhuan139 (liuhuan139)
	label-Verified = -1..+1 group user/liuhuan139 (liuhuan139)
	rebase = group user/liuhuan139 (liuhuan139)
	removeReviewer = group user/liuhuan139 (liuhuan139)
	submit = group user/liuhuan139 (liuhuan139)
[access "refs/heads/*"]
	read = group user/liuhuan139 (liuhuan139)
	create = group user/liuhuan139 (liuhuan139)
	push = +force group user/liuhuan139 (liuhuan139)
	pushMerge = group user/liuhuan139 (liuhuan139)
[access "refs/tags/*"]
	push = +force group user/liuhuan139 (liuhuan139)
	pushTag = group user/liuhuan139 (liuhuan139)
	pushSignedTag = group user/liuhuan139 (liuhuan139)
